In [1]:
import numpy
import keras
from keras.datasets import imdb

Using TensorFlow backend.

### Hyper Parameters

In [2]:
n_unique_words = 5000
n_words_to_skip = 50

### Load the data

In [3]:
(x_train, y_train), (x_valid, y_valid) = imdb.load_data(num_words=n_unique_words, skip_top=n_words_to_skip)

In [11]:
print(x_train[0][:20])

[2, 2, 2, 2, 2, 530, 973, 1622, 1385, 65, 458, 4468, 66, 3941, 2, 173, 2, 256, 2, 2]

### 0 reserved for padding
### 1 would be starting character
### 2 is unknown 
### 3 is most common word
### 4 is second most comman word and so on...

In [12]:
x_train[0:6]

array([list([2, 2, 2, 2, 2, 530, 973, 1622, 1385, 65, 458, 4468, 66, 3941, 2, 173, 2, 256, 2, 2, 100, 2, 838, 112, 50, 670, 2, 2, 2, 480, 284, 2, 150, 2, 172, 112, 167, 2, 336, 385, 2, 2, 172, 4536, 1111, 2, 546, 2, 2, 447, 2, 192, 50, 2, 2, 147, 2025, 2, 2, 2, 2, 1920, 4613, 469, 2, 2, 71, 87, 2, 2, 2, 530, 2, 76, 2, 2, 1247, 2, 2, 2, 515, 2, 2, 2, 626, 2, 2, 2, 62, 386, 2, 2, 316, 2, 106, 2, 2, 2223, 2, 2, 480, 66, 3785, 2, 2, 130, 2, 2, 2, 619, 2, 2, 124, 51, 2, 135, 2, 2, 1415, 2, 2, 2, 2, 215, 2, 77, 52, 2, 2, 407, 2, 82, 2, 2, 2, 107, 117, 2, 2, 256, 2, 2, 2, 3766, 2, 723, 2, 71, 2, 530, 476, 2, 400, 317, 2, 2, 2, 2, 1029, 2, 104, 88, 2, 381, 2, 297, 98, 2, 2071, 56, 2, 141, 2, 194, 2, 2, 2, 226, 2, 2, 134, 476, 2, 480, 2, 144, 2, 2, 2, 51, 2, 2, 224, 92, 2, 104, 2, 226, 65, 2, 2, 1334, 88, 2, 2, 283, 2, 2, 4472, 113, 103, 2, 2, 2, 2, 2, 178, 2]),
       list([2, 194, 1153, 194, 2, 78, 228, 2, 2, 1463, 4369, 2, 134, 2, 2, 715, 2, 118, 1634, 2, 394, 2, 2, 119, 954, 189, 102, 2, 207, 110, 3103, 2, 2, 69, 188, 2, 2, 2, 2, 2, 249, 126, 93, 2, 114, 2, 2300, 1523, 2, 647, 2, 116, 2, 2, 2, 2, 229, 2, 340, 1322, 2, 118, 2, 2, 130, 4901, 2, 2, 1002, 2, 89, 2, 952, 2, 2, 2, 455, 2, 2, 2, 2, 1543, 1905, 398, 2, 1649, 2, 2, 2, 163, 2, 3215, 2, 2, 1153, 2, 194, 775, 2, 2, 2, 349, 2637, 148, 605, 2, 2, 2, 123, 125, 68, 2, 2, 2, 349, 165, 4362, 98, 2, 2, 228, 2, 2, 2, 1157, 2, 299, 120, 2, 120, 174, 2, 220, 175, 136, 50, 2, 4373, 228, 2, 2, 2, 656, 245, 2350, 2, 2, 2, 131, 152, 491, 2, 2, 2, 2, 1212, 2, 2, 2, 371, 78, 2, 625, 64, 1382, 2, 2, 168, 145, 2, 2, 1690, 2, 2, 2, 1355, 2, 2, 2, 52, 154, 462, 2, 89, 78, 285, 2, 145, 95]),
       list([2, 2, 2, 2, 2, 2, 2, 2, 249, 108, 2, 2, 2, 54, 61, 369, 2, 71, 149, 2, 2, 112, 2, 2401, 311, 2, 2, 3711, 2, 75, 2, 1829, 296, 2, 86, 320, 2, 534, 2, 263, 4821, 1301, 2, 1873, 2, 89, 78, 2, 66, 2, 2, 360, 2, 2, 58, 316, 334, 2, 2, 1716, 2, 645, 662, 2, 257, 85, 1200, 2, 1228, 2578, 83, 68, 3912, 2, 2, 165, 1539, 278, 2, 69, 2, 780, 2, 106, 2, 2, 1338, 2, 2, 2, 2, 215, 2, 610, 2, 2, 87, 326, 2, 2300, 2, 2, 2, 2, 272, 2, 57, 2, 2, 2, 2, 2, 2, 2307, 51, 2, 170, 2, 595, 116, 595, 1352, 2, 191, 79, 638, 89, 2, 2, 2, 2, 106, 607, 624, 2, 534, 2, 227, 2, 129, 113]),
       list([2, 2, 2, 2, 2, 2804, 2, 2040, 432, 111, 153, 103, 2, 1494, 2, 70, 131, 67, 2, 61, 2, 744, 2, 3715, 761, 61, 2, 452, 2, 2, 985, 2, 2, 59, 166, 2, 105, 216, 1239, 2, 1797, 2, 2, 2, 2, 744, 2413, 2, 2, 2, 687, 2, 2, 2, 2, 2, 3693, 2, 2, 2, 121, 59, 456, 2, 2, 2, 265, 2, 575, 111, 153, 159, 59, 2, 1447, 2, 2, 586, 482, 2, 2, 96, 59, 716, 2, 2, 172, 65, 2, 579, 2, 2, 2, 1615, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 464, 2, 314, 2, 2, 2, 719, 605, 2, 2, 202, 2, 310, 2, 3772, 3501, 2, 2722, 58, 2, 2, 537, 2116, 180, 2, 2, 413, 173, 2, 263, 112, 2, 152, 377, 2, 537, 263, 846, 579, 178, 54, 75, 71, 476, 2, 413, 263, 2504, 182, 2, 2, 75, 2306, 922, 2, 279, 131, 2895, 2, 2867, 2, 2, 2, 921, 2, 192, 2, 1219, 3890, 2, 2, 217, 4122, 1710, 537, 2, 1236, 2, 736, 2, 2, 61, 403, 2, 2, 2, 61, 4494, 2, 2, 4494, 159, 90, 263, 2311, 4319, 309, 2, 178, 2, 82, 4319, 2, 65, 2, 2, 145, 143, 2, 2, 2, 537, 746, 537, 537, 2, 2, 2, 2, 594, 2, 2, 94, 2, 3987, 2, 2, 2, 2, 538, 2, 1795, 246, 2, 2, 2, 2, 635, 2, 2, 51, 408, 2, 94, 318, 1382, 2, 2, 2, 2683, 936, 2, 2, 2, 2, 2, 2, 2, 1885, 2, 1118, 2, 80, 126, 842, 2, 2, 2, 2, 4726, 2, 4494, 2, 1550, 3633, 159, 2, 341, 2, 2733, 2, 4185, 173, 2, 90, 2, 2, 2, 2, 2, 1784, 86, 1117, 2, 3261, 2, 2, 2, 2, 2, 2, 2841, 2, 2, 1010, 2, 793, 2, 2, 1386, 1830, 2, 2, 246, 50, 2, 2, 2750, 1944, 746, 90, 2, 2, 2, 124, 2, 882, 2, 882, 496, 2, 2, 2213, 537, 121, 127, 1219, 130, 2, 2, 494, 2, 124, 2, 882, 496, 2, 341, 2, 2, 846, 2, 2, 2, 2, 1906, 2, 97, 2, 236, 2, 1311, 2, 2, 2, 2, 2, 2, 2, 91, 2, 3987, 70, 2, 882, 2, 579, 2, 2, 2, 2, 2, 537, 2, 2, 2, 2, 65, 2, 537, 75, 2, 1775, 3353, 2, 1846, 2, 2, 2, 154, 2, 2, 518, 53, 2, 2, 2, 3211, 882, 2, 399, 2, 75, 257, 3807, 2, 2, 2, 2, 456, 2, 65, 2, 2, 205, 113, 2, 2, 2, 2, 2, 2, 2, 242, 2, 91, 1202, 2, 2, 2070, 307, 2, 2, 2, 126, 93, 2, 2, 2, 188, 1076, 3222, 2, 2, 2, 2, 2348, 537, 2, 53, 537, 2, 82, 2, 2, 2, 2, 2, 280, 2, 219, 2, 2, 431, 758, 859, 2, 953, 1052, 2, 2, 2, 2, 94, 2, 2, 238, 60, 2, 2, 2, 804, 2, 2, 2, 2, 132, 2, 67, 2, 2, 2, 2, 283, 2, 2, 2, 2, 2, 242, 955, 2, 2, 279, 2, 2, 2, 1685, 195, 2, 238, 60, 796, 2, 2, 671, 2, 2804, 2, 2, 559, 154, 888, 2, 726, 50, 2, 2, 2, 2, 566, 2, 579, 2, 64, 2574]),
       list([2, 249, 1323, 2, 61, 113, 2, 2, 2, 1637, 2, 2, 56, 2, 2401, 2, 457, 88, 2, 2626, 1400, 2, 3171, 2, 70, 79, 2, 706, 919, 2, 2, 355, 340, 355, 1696, 96, 143, 2, 2, 2, 289, 2, 61, 369, 71, 2359, 2, 2, 2, 131, 2073, 249, 114, 249, 229, 249, 2, 2, 2, 126, 110, 2, 473, 2, 569, 61, 419, 56, 429, 2, 1513, 2, 2, 534, 95, 474, 570, 2, 2, 124, 138, 88, 2, 421, 1543, 52, 725, 2, 61, 419, 2, 2, 1571, 2, 1543, 2, 2, 2, 2, 2, 296, 2, 3524, 2, 2, 421, 128, 74, 233, 334, 207, 126, 224, 2, 562, 298, 2167, 1272, 2, 2601, 2, 516, 988, 2, 2, 79, 120, 2, 595, 2, 784, 2, 3171, 2, 165, 170, 143, 2, 2, 2, 2, 2, 226, 251, 2, 61, 113]),
       list([2, 778, 128, 74, 2, 630, 163, 2, 2, 1766, 2, 1051, 2, 2, 85, 156, 2, 2, 148, 139, 121, 664, 665, 2, 2, 1361, 173, 2, 749, 2, 2, 3804, 2, 2, 226, 65, 2, 2, 127, 2, 2, 2, 2])],
      dtype=object)

In [13]:
for x in x_train[0:6]:
    print(len(x))

218
189
141
550
147
43

In [14]:
y_train[0:6]

array([1, 0, 0, 1, 0, 0], dtype=int64)

In [15]:
len(x_train), len(x_valid)

(25000, 25000)

### Resoring words from the index

In [16]:
word_index = keras.datasets.imdb.get_word_index()

Downloading data from https://s3.amazonaws.com/text-datasets/imdb_word_index.json
1646592/1641221 [==============================] - 8s 5us/step

In [17]:
word_index = {k:(v+3) for k,v in word_index.items()}
word_index["PAD"] = 0
word_index["START"] = 1
word_index["UNK"] = 2

In [18]:
word_index["this"]

14

In [19]:
index_word = {v:k for k,v in word_index.items()}

In [21]:
print(x_train[0][:20])

[2, 2, 2, 2, 2, 530, 973, 1622, 1385, 65, 458, 4468, 66, 3941, 2, 173, 2, 256, 2, 2]

In [22]:
' '.join(index_word[id] for id in x_train[0])

"UNK UNK UNK UNK UNK brilliant casting location scenery story direction everyone's really suited UNK part UNK played UNK UNK could UNK imagine being there robert UNK UNK UNK amazing actor UNK now UNK same being director UNK father came UNK UNK same scottish island UNK myself UNK UNK loved UNK fact there UNK UNK real connection UNK UNK UNK UNK witty remarks throughout UNK UNK were great UNK UNK UNK brilliant UNK much UNK UNK bought UNK UNK UNK soon UNK UNK UNK released UNK UNK UNK would recommend UNK UNK everyone UNK watch UNK UNK fly UNK UNK amazing really cried UNK UNK end UNK UNK UNK sad UNK UNK know what UNK say UNK UNK cry UNK UNK UNK UNK must UNK been good UNK UNK definitely UNK also UNK UNK UNK two little UNK UNK played UNK UNK UNK norman UNK paul UNK were UNK brilliant children UNK often left UNK UNK UNK UNK list UNK think because UNK stars UNK play them UNK grown up UNK such UNK big UNK UNK UNK whole UNK UNK these children UNK amazing UNK should UNK UNK UNK what UNK UNK done don't UNK think UNK whole story UNK UNK lovely because UNK UNK true UNK UNK someone's life after UNK UNK UNK UNK UNK us UNK"

In [23]:
(all_x_train,_),(all_x_valid,_) = imdb.load_data()

In [24]:
' '.join(index_word[id] for id in all_x_train[0])

"START this film was just brilliant casting location scenery story direction everyone's really suited the part they played and you could just imagine being there robert redford's is an amazing actor and now the same being director norman's father came from the same scottish island as myself so i loved the fact there was a real connection with this film the witty remarks throughout the film were great it was just brilliant so much that i bought the film as soon as it was released for retail and would recommend it to everyone to watch and the fly fishing was amazing really cried at the end it was so sad and you know what they say if you cry at a film it must have been good and this definitely was also congratulations to the two little boy's that played the part's of norman and paul they were just brilliant children are often left out of the praising list i think because the stars that play them all grown up are such a big profile for the whole film but these children are amazing and should be praised for what they have done don't you think the whole story was so lovely because it was true and was someone's life after all that was shared with us all"

In [25]:
from keras.preprocessing.sequence import pad_sequences

In [26]:
max_review_length = 100
pad_type = trunc_type = 'pre'

In [27]:
x_train = pad_sequences(x_train, maxlen=max_review_length, padding=pad_type, truncating=trunc_type, value=0)
x_valid = pad_sequences(x_valid, maxlen=max_review_length, padding=pad_type, truncating=trunc_type, value=0)

In [28]:
x_train[0:6]

array([[1415,    2,    2,    2,    2,  215,    2,   77,   52,    2,    2,
         407,    2,   82,    2,    2,    2,  107,  117,    2,    2,  256,
           2,    2,    2, 3766,    2,  723,    2,   71,    2,  530,  476,
           2,  400,  317,    2,    2,    2,    2, 1029,    2,  104,   88,
           2,  381,    2,  297,   98,    2, 2071,   56,    2,  141,    2,
         194,    2,    2,    2,  226,    2,    2,  134,  476,    2,  480,
           2,  144,    2,    2,    2,   51,    2,    2,  224,   92,    2,
         104,    2,  226,   65,    2,    2, 1334,   88,    2,    2,  283,
           2,    2, 4472,  113,  103,    2,    2,    2,    2,    2,  178,
           2],
       [ 163,    2, 3215,    2,    2, 1153,    2,  194,  775,    2,    2,
           2,  349, 2637,  148,  605,    2,    2,    2,  123,  125,   68,
           2,    2,    2,  349,  165, 4362,   98,    2,    2,  228,    2,
           2,    2, 1157,    2,  299,  120,    2,  120,  174,    2,  220,
         175,  136,   50,    2, 4373,  228,    2,    2,    2,  656,  245,
        2350,    2,    2,    2,  131,  152,  491,    2,    2,    2,    2,
        1212,    2,    2,    2,  371,   78,    2,  625,   64, 1382,    2,
           2,  168,  145,    2,    2, 1690,    2,    2,    2, 1355,    2,
           2,    2,   52,  154,  462,    2,   89,   78,  285,    2,  145,
          95],
       [1301,    2, 1873,    2,   89,   78,    2,   66,    2,    2,  360,
           2,    2,   58,  316,  334,    2,    2, 1716,    2,  645,  662,
           2,  257,   85, 1200,    2, 1228, 2578,   83,   68, 3912,    2,
           2,  165, 1539,  278,    2,   69,    2,  780,    2,  106,    2,
           2, 1338,    2,    2,    2,    2,  215,    2,  610,    2,    2,
          87,  326,    2, 2300,    2,    2,    2,    2,  272,    2,   57,
           2,    2,    2,    2,    2,    2, 2307,   51,    2,  170,    2,
         595,  116,  595, 1352,    2,  191,   79,  638,   89,    2,    2,
           2,    2,  106,  607,  624,    2,  534,    2,  227,    2,  129,
         113],
       [   2,    2,    2,  188, 1076, 3222,    2,    2,    2,    2, 2348,
         537,    2,   53,  537,    2,   82,    2,    2,    2,    2,    2,
         280,    2,  219,    2,    2,  431,  758,  859,    2,  953, 1052,
           2,    2,    2,    2,   94,    2,    2,  238,   60,    2,    2,
           2,  804,    2,    2,    2,    2,  132,    2,   67,    2,    2,
           2,    2,  283,    2,    2,    2,    2,    2,  242,  955,    2,
           2,  279,    2,    2,    2, 1685,  195,    2,  238,   60,  796,
           2,    2,  671,    2, 2804,    2,    2,  559,  154,  888,    2,
         726,   50,    2,    2,    2,    2,  566,    2,  579,    2,   64,
        2574],
       [   2,    2,  131, 2073,  249,  114,  249,  229,  249,    2,    2,
           2,  126,  110,    2,  473,    2,  569,   61,  419,   56,  429,
           2, 1513,    2,    2,  534,   95,  474,  570,    2,    2,  124,
         138,   88,    2,  421, 1543,   52,  725,    2,   61,  419,    2,
           2, 1571,    2, 1543,    2,    2,    2,    2,    2,  296,    2,
        3524,    2,    2,  421,  128,   74,  233,  334,  207,  126,  224,
           2,  562,  298, 2167, 1272,    2, 2601,    2,  516,  988,    2,
           2,   79,  120,    2,  595,    2,  784,    2, 3171,    2,  165,
         170,  143,    2,    2,    2,    2,    2,  226,  251,    2,   61,
         113],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    2,  778,  128,   74,    2,  630,  163,    2,    2,
        1766,    2, 1051,    2,    2,   85,  156,    2,    2,  148,  139,
         121,  664,  665,    2,    2, 1361,  173,    2,  749,    2,    2,
        3804,    2,    2,  226,   65,    2,    2,  127,    2,    2,    2,
           2]])

In [29]:
for x in x_train[0:6]:
    print(len(x))

100
100
100
100
100
100

In [30]:
' '.join(index_word[id] for id in x_train[5])

'PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD PAD UNK begins better than UNK ends funny UNK UNK russian UNK crew UNK UNK other actors UNK UNK those scenes where documentary shots UNK UNK spoiler part UNK message UNK UNK contrary UNK UNK whole story UNK UNK does UNK UNK UNK UNK'

In [31]:
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Flatten, Dropout
from keras.layers import Embedding
from keras.callbacks import ModelCheckpoint

In [32]:
# vector-space embedding: 
n_dim = 64

In [33]:
model = Sequential()
model.add(Embedding(n_unique_words, n_dim, input_length=max_review_length))
model.add(Flatten())
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))

WARNING:tensorflow:From C:\Users\Admin\Anaconda3\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

In [34]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 100, 64)           320000
_________________________________________________________________
flatten_1 (Flatten)          (None, 6400)              0
_________________________________________________________________
dense_1 (Dense)              (None, 64)                409664
_________________________________________________________________
dropout_1 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 65
=================================================================
Total params: 729,729
Trainable params: 729,729
Non-trainable params: 0
_________________________________________________________________

In [35]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\Admin\Anaconda3\lib\site-packages\tensorflow_core\python\ops\nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [36]:
# training:
epochs = 4
batch_size = 128

In [37]:
model.fit(x_train, y_train, batch_size=batch_size, epochs=epochs, verbose=1, validation_data=(x_valid, y_valid))

WARNING:tensorflow:From C:\Users\Admin\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 25000 samples, validate on 25000 samples
Epoch 1/4
25000/25000 [==============================] - 7s 284us/step - loss: 0.5021 - accuracy: 0.7342 - val_loss: 0.3432 - val_accuracy: 0.8470
Epoch 2/4
25000/25000 [==============================] - 8s 314us/step - loss: 0.2340 - accuracy: 0.9095 - val_loss: 0.3702 - val_accuracy: 0.8368
Epoch 3/4
25000/25000 [==============================] - 7s 286us/step - loss: 0.0623 - accuracy: 0.9856 - val_loss: 0.4650 - val_accuracy: 0.8294
Epoch 4/4
25000/25000 [==============================] - 8s 324us/step - loss: 0.0092 - accuracy: 0.9995 - val_loss: 0.5470 - val_accuracy: 0.8314

### Prediction Phase

In [38]:
y_hat = model.predict_proba(x_valid)

In [39]:
float_y_hat = []
for y in y_hat:
    float_y_hat.append(y[0])

In [40]:
import pandas as pd

In [41]:
ydf = pd.DataFrame(list(zip(float_y_hat, y_valid)), columns=['y_hat', 'y'])
ydf.head(10)

      y_hat  y
0  0.048598  0
1  0.999477  1
2  0.945471  1
3  0.077232  0
4  0.999955  1
5  0.926118  1
6  0.997006  1
7  0.000131  0
8  0.999247  0
9  0.886729  1

In [42]:
ydf[(ydf.y == 0) & (ydf.y_hat > 0.9)].head(10)

        y_hat  y
8    0.999247  0
66   0.973532  0
75   0.995297  0
78   0.944850  0
112  0.975500  0
115  0.935584  0
139  0.993937  0
152  0.999616  0
256  0.993960  0
299  0.975120  0

In [43]:
' '.join(index_word[id] for id in all_x_valid[260])

"START where do i begin with the killing mind before i mention the good bit this movie is about a young psychological profiling fbi woman or something that for some reason goes to work for the lapd for a wee while there are some recognisable faces like the i love you man bloke from wayne's world playing a cop nice beard age too and two guys who always seem to play cops playing you guessed it cops one of them was one of the cops in gross point blank following john cusack about the place and the other is the fbi guy with specs in final destination who is also in the fugitive as another cop i know the fbi us marshalls cia etc aren't cops but they're all the same they enforce the law to a certain degree that makes them cops in my book feel free to disagree with the definition of a cop all you want they're still seen as the ones who are trying to bring the bad guys down any i digress the woman is working alongside these cops who just seem to sit around in a library in the basement or something and for some unknown reason decides to reopen a case that hasn't been looked at for she saw the dead body as a kid so naturally decided that she can reopen the case cos she was personally attached to it i also like how the person profiling other people's psychological state witnessed a murder scene as a child surely that's the kind of thing that can screw with someone's head she starts asking questions off some journalist who covered the story when it was open even though he appears to be the same age as the woman so he presumably was either writing for a newspaper when he was 10 or he wrote a few school reports on it and she decided he'd be the best person to ask about it br br we then see that as well as reopening homicide cases from 25 years earlier she tries her hand at petty theft as some really inconspicuous bloke through a busy street wearing a balaclava way to blend moron anyway she and the cops she's with eating ice creams in the park give chase after him and whilst crossing a bridge with a woman and child standing on it the thief grabs the baby from the mother's arms and throws the baby in the river this if you haven't already guessed is the best bit of the movie i'm not sadistic and don't have a hatred for babies or anything but the scene just looks so stupid i promise you will wet your pants laughing at it if you should watch this movie it gets better when the cop from final destination the fugitive jumps in to rescue the baby then declares to his friend it's a baby how did he not know that before he jumped in is beyond me br br anyway she chases after the thief but loses him later on she remembers that a random dog didn't bark at the thief so assumed it must be his and decided to track down the thief through the dog the dog had no markings or anything on it so how she knew where to find the dog and thus find the thief is another question i won't go into it was shortly after this that i stopped watching the story was moving really slowly and after i had stopped laughing at the baby throwing bit i had kind of lost interest and missed what was being said br br saying that i'll go ahead and assume that the killer was the journalist bloke because he seemed a bit shifty and she was spending a lot of time with him and anyone who watches columbo knows that the person outside the police force who spends most time with the investigating officer is your bad guy plus other people's reviews say the killer was pretty obvious so i'm sure it was him br br so all in all a pants film but worth watching just for that one glorious scene"